# The Xorg X server may need root rights to function properly. To start the Xorg
# X server with these rights your system is using a suid root wrapper installed as
# /usr/libexec/Xorg.wrap which will execute the real X server which is installed
# as /usr/libexec/Xorg.

# By default Xorg.wrap will autodetect if root rights are necessary, and if not
# it will drop its elevated rights before starting the real X server. By default
# Xorg.wrap will only allow executing the real X server from login sessions on a
# physical console.
#
# Document imported from https://man.archlinux.org/man/Xorg.wrap.1


# Specify which users may start the X server through the wrapper. Use rootonly to
# only allow root, use console to only allow users logged into a physical console,
# and use anybody to allow anybody. The default is console.
# exec /usr/bin/Xorg -nolisten tcp "$@" vt$XDG_VTNR
allowed_users=anybody


# Configure if the wrapper should drop its elevated (root) rights before starting
# the X server. Use yes to force execution as root, no to force execution with all
# suid rights dropped, and auto to let the wrapper auto-detect. The default is auto.
# [yes|no|auto]
needs_root_rights=auto 
